.main{
    border: 3px solid black;
    height: 500px;
    border-radius: 20px;
    border-style: ridge;
    margin-top: 50px;
 }
 .logo{
     text-align: center;
 }
 .logo img{
     width: 200px;
     height: 200px;
     border-radius: 50px;
     
 }
 .header{
     text-align: center;
     font-family: 'Bitter', serif;
     text-decoration-line: underline;
     text-decoration-color: chartreuse;
 }
 .inp{
     text-align: center;
 }
 .inp1{
     width: 300px;
     text-align: center;
     border-radius: 8px;
     height: 40px;
     margin: 8px;
     color: #333;
     background-color: rgb(251, 251, 232);
 }
 .btn1{
     text-align: center;
     margin-top: 10px;
 }
 .bttn{
     background-color: rgb(84, 84, 255);
     border: 2px solid black;
     color: rgb(255, 255, 255);
     width: 100px;
     height: 33px;
     border-radius: 25px;
     box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.871);
     font-family: 'Nanum Myeongjo', serif;
 }
 .or{
     text-align: center;
     margin-top: 10px;
 }
 .or a{
     text-decoration: none;
 }