<div class="main container w-25">
    <div class="logo">
        <img src="../../assets/banklogo.jpg" alt="">
    </div>
    <div class="header">
        <h3>My Bank</h3>
    </div>
    <div class="inp">
        <input class="inp1" type="text" id="reg_name" placeholder="Username">
        <br>
        <input class="inp1" type="text" id="reg_acno" placeholder="Account number">
        <br>
        <input class="inp1" type="text" id="reg_pswd" placeholder="Password">
    </div>
    <div class="btn1">
        <input class="bttn" type="button" value="Register" onclick="reg()">
    </div>
    <div class="or">
        <a href="#" onclick="signIn()">Sign in</a>
    </div>
</div>
